doctype html
html
  head
    title toggle-switch-ios-look
    link(rel="stylesheet", href="main.css")
  body
    .toggle-switch
      input(id="toggle-1" class="toggle-switch-style-round" type="checkbox")
      label(for="toggle-1")
    script(src="app.js")

