doctype html
html
  head
    title toggle-switch-ios-look
    link(rel="stylesheet", href="main.css")
  body
    .switch
      input(id="toggle-1" class="switch switch-style-round" type="checkbox")
      label(for="toggle-1")
        label
    script(src="app.js")

