
.sw{

    outline: red solid 1px;
    padding: 10px;

    @width: 100px;
    @aspect_ratio: .65;  // = width/height
    @switch_border: 5px;

    @color_on: hsl(0, 100%, 50%);
    @color_off: hsl(120, 100%, 50%);
    @color_toggle: hsl(240, 100%, 50%);
    @color_switch_border: hsl(0, 10%, 50%);

    @height: @width * @aspect_ratio;
    @slide_distance: @height - @width;
    @toggle_size: @height - @switch_border*2;

    @roundness: @height/2;
    @toggle_roundness: @toggle_size/2;

    /* reset margin */
    * { margin:0px; padding: 0px; }

    > input {
        /* hide check box because we are not stlying it.
        user can still click on label to check/uncheck */

        position: absolute;
        // margin-left: -9999px; // coment out to show checkbox
        // visibility: hidden;   // coment out to show checkbox
    }

    > input + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        /* user-select: The text of the element and sub-elements will
                        not be able to be selected */
        -webkit-user-select: none; /* Chrome all / Safari all */
    }

    > input.switch-style-round + label {
        // label is the switch body, it bg-color is the on color;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        width: @width;
        height: @height;
        background-color: @color_on;

        border: @switch_border solid @color_switch_border;
        -webkit-border-radius: @roundness;

        overflow: hidden;
        top: 0px;
        left: 0px;
    }

    > input.switch-style-round + label:before,
    > input.switch-style-round + label:after {

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        display: block;
        position: absolute;
        content: "";
        -webkit-border-radius: @toggle_roundness;
    }

    > input.switch-style-round + label:before {
        top:0px;
        left: 0px;
        /* right: 2px; */
        /* bottom: 2px; */
        width: @width;
        height: @toggle_size;
        background-color: @color_off;
        -webkit-transition: background 0.4s ease;
        transition: margin 0.4s;
    }

    > input.switch-style-round + label:after {
        top: 0px;
        left: 0px;
        width: @toggle_size;
        height: @toggle_size;
        background-color: @color_toggle;
        transition: margin 0.4s;
    }

    > input.switch-style-round:checked + label:before {
        margin-left: -@slide_distance;
    }

    > input.switch-style-round:checked + label:after {
        margin-left: -@slide_distance;
    }

}
